div {
    width: 100%;
    background-color: #fff;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


